	
body {
	font-family: Helvetica;
	font-weight: lighter;
	font-size: 50%;
	background-color:RGB(61,61,61);
	margin: 0px;
	padding:0px;
	color: #f2f2f2;
	-moz-user-select: none;
	-webkit-user-select: none; 
	overflow-x:hidden;
	overflow-y: hidden;
}


/*
@media screen and (orientation: portrait) {
*/


#dish_view{
	position: relative;
	z-index: 8;
	background-color: #aaaaaa;
	height: 94%;
	overflow:hidden;
	display:none;
	transition: left 0.25s;
	-moz-transition: left 0.25s; /* Firefox 4 */
	-webkit-transition: left 0.25s; /* Safari 和 Chrome */
}

#cover{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #222222;
	z-index: 7;
	-moz-opacity: 0.8;
	-khtml-opaciy: 0.8;
	opacity: 0.8;
}
#curve{
	position: absolute;
	width: 90%;
	left: 5%;
	top: 8%;
	height:1px;
	background-color: #cfcfcf;
	z-index : 2;
}


#search{
	position:absolute;
	width: 100%;
	height : 8%;
	top: 8%;
	background-color: #e6e6e6;
}



#preview_list{
	position:absolute;
	background-color: #333333;
	z-index: 8;
	left: 0%;
	bottom: 6%;
	height : 0%;
	cursor:pointer;
	transition: height 0.3s;
	-moz-transition: height 0.3s; /* Firefox 4 */
	-webkit-transition: height 0.3s; /* Safari 和 Chrome */
}

#correctable_list{
	background-color: #333333;
	transition: height 0.3s;
	-moz-transition: height 0.3s; /* Firefox 4 */
	-webkit-transition: height 0.3s; /* Safari 和 Chrome */
	z-index: 8;
}


.header_bar_list{
	position:absolute;
	font-size: 1em;
	width: 100%;
	top: 100%;
	color: #222222;
	background-color: RGB(241,241,241);
	padding-top : -1px;
	display: block;
	z-index: 8;
	overflow:hidden;
	transition: height 0.2s;
	-moz-transition: height 0.2s; /* Firefox 4 */
	-webkit-transition: height 0.2s; /* Safari 和 Chrome */
}




.type_div{
	position: absolute;
	text-align: left;
	width: 100%;
	padding : -1px;
	background-color: RGB(241,241,241);
}

.type_name{
	position: absolute;
}

.line{
	position: absolute;
	background-color: #eeeeee;
	width : 1px;
}

.line2{
	position: absolute;
	background-color: #eeeeee;
	height : 1px;
}


#type_name{
	position: absolute;
	background-color: #4f4f4f;
	width: 100%;
	left: 0%;
	top: 12.6%;
	height: 4%;
	text-indent: 20px;

}

.header_bar_button{
	width: 33%;
	height: 100%;
}


#ordered{
	position: fixed;
	height: 6%;
	bottom: 0;
	left: 0%;
	font-size: 160%;
	background-color: #888888;
	text-align: left;
	width: 83%;
	color: #000000;
	z-index: 10;
}

#show_dish_picture{
	position: relative;
	width: 100%;
}

#show_dish_info{
	position: relative;
	width: 100%;
	background-color: #eeeeee;
}

#show_dish_introduction_div{
	position: relative;
	width: 100%;
	color: #222222;
	text-indent: 4%;
	background-color: #eeeeee;
}

#show_dish_comment_div{
	position: relative;
	width: 100%;
	color: #222222;
	background-color: #eeeeee;
	text-indent: 4%;
}

#show_dish_comments{
	position: relative;
	width: 100%;
	color: #222222;
	background-color: #eeeeee;
	text-indent: 4%;
	
}



#show_dish_name{
	color: #222222;
	font-weight: bold;
	position: absolute;
	width: 100%;
	left: 4%;
}

#show_dish_price{
	color: #ff3300;
	position: absolute;
	width: 100%;
	left: 4%;
	bottom: 10%;
}

#show_dish_sale_amount{
	color: #222222;
	position: absolute;
	width: 100%;
	left: 4%;
}

#show_dish_rank0{
	position: absolute;
	width: 100%;
	left: 4%;
}

.comment_div{
	position: relative;
	top: -11110%;
	width: 100%;
}

#show_dish_order_amount{
	position: absolute;
	bottom: 0%;
	color: #222222;
	text-align:center;
}

.show_title{
	font-weight: bold;	
}

#order_go{
	position: fixed;
	background-color: #bfbfbf;
	text-align: center;
	font-size: 180%;
	font-weight: bold;
	color: #000000;
	height: 6%;
	left: 83%;
	width: 17%;
	z-index: 10;
	bottom: 0%;
}



.dish_list{
	position: absolute;
	text-align: center;
	width: 100%;
	left: 0;
	color: #fafafa;
	overflow: scroll;
	z-index: 2;
}



.dish_name{
	position: absolute;
	font-size: 2.4em;
	color: #e0e0e0;
}


.dish_dollar{
	position: absolute;
	font-weight: medium;
	font-size: 2em;
	color: RGB(255,141,62);
}



.dish_price{
	position: absolute;
	font-weight: medium;
	font-size: 2.4em;
	color: RGB(255,141,62);
}

.dish_number{
	position: absolute;
	font-weight: medium;
	font-size: 1.6em;
}

.dish_image{
	position: absolute;
	text-align: center;
	color: #000000;
	overflow: scroll;
	border: thin solid #666666;
	width: 20%;
	border-radius: 6px;
}


.dish_rank{
	position: absolute;
}

.dish_stars{
	position: absolute;
	text-align: center;
	color: #000000;
	overflow: scroll;
}


.dish_chosen{
	position: absolute;
	font-size: 3em;
	text-align: center;
}

.dish_button{
	position: absolute;
	cursor: pointer;
	z-index:3;
}


.comment_id{
	position: absolute;
	color: #444444;
	font-weight: bold;
}	

.comment_content{
	position: absolute;

}

.comment_rank{
	position: absolute;
	
}

.comment_date{
	position: absolute;

}

#search_button{
	position: absolute;
	cursor: pointer;
	right: 5%;
	height: 50%;
	top: 25%;
	z-index: 100;
	color: #888888;
	text-indent: 5%;
	border-radius: 5px;
}

#header_border{
	position: absolute;
	height: 0.6%;
	width: 100%;
	top: 12%;
	background-color: #222222;
}

.header_bar_list_item{
	position: relative;
	width: 100%;
	padding : -1px;
	text-align: left;
	text-indent: 5%;
	color: #888888;
}

#sort_list{
	position: absolute;
}

#header_bar{
	position: absolute;
	width: 100%;
	top: 7%;
	height: 5%;
	background-color: #dddddd;
	text-align: center;
	font-size: 1.8em;
	z-index: 3;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(RGB(80, 80, 80)), to(RGB(51,51,51)));  /* Safari 4-5, Chrome 1-9*/
	background: -webkit-linear-gradient(top, RGB(80, 80, 80), RGB(51,51,51));   /*Safari5.1 Chrome 10+*/
	background: -o-linear-gradient(top, RGB(80, 80, 80), RGB(51,51,51)); 
}