#continue_order{
	position: absolute;
	width: 30%;
	left: 0%;
	height: 5%;
	z-index: 20;
	background-color: #4e56ff;
	color: #eeeeee;
	text-align: center;
}

#order_now{
	position: absolute;
	width: 30%;
	right: 0%;
	height: 5%;
	z-index: 20;
	background-color: #4e56ff;
	text-align: center;
	color: #eeeeee;
}